= content_for :title, @techie.name
%h2 In charge of these requests:
= render 'requests/requests_table', requests: @techie.requests
%h2 Open requests
= render 'requests/requests_table', requests: Request.open