.flex.flex-col.relative
  .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
    .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
      .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
        .min-w-full.divide-y.divide-gray-200
          .flex
            .px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{ class: 'basis-1/4' }
              Requester
            .px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{ class: 'basis-1/4' }
              Person in charge
            .px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{ class: 'basis-1/2' }
              Description
          .bg-white.divide-y.divide-gray-200
            .overflow-hidden
              = turbo_stream_from 'requests'
              = turbo_frame_tag 'requests' do
                = render requests
