@import 'requests';
@import "fa-6/fontawesome";
@import "fa-6/regular";
@import "fa-6/solid";

$thrive-orange: hsl(45, 100%, 47%);

#app-nav {
  $_base: $thrive-orange;
  background-color: $_base;

  .app-nav-link {
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #333;

    &:not(.active):hover {
      background-color: darken($_base, 2.5%);
      color: #000;
    }

    &.active {
      background-color: darken($_base, 5%);
      color: #000;
    }
  }
}

body {
  background-color: desaturate(lighten($thrive-orange, 50%), 90%);
}

.notice-alert {
  color: rgba(29, 78, 216, var(--tw-text-opacity));
  background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}

.error-alert{
  color: rgba(185, 28, 28, var(--tw-text-opacity));
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}

.alert {
  --tw-text-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 1rem;
  --tw-bg-opacity: 1;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}